
#box1{
 margin:auto;
 width:14rem;

 padding: 4rem;
 padding-top: 2rem;
 margin-top: 20rem;
 border: 0.5px black solid;
}
.user{
   display: block;
   margin: auto;
   
   margin: 1rem;
   width: 12rem;
   font-size:medium;
   padding: 0.1rem;
}
#login{
  background-color:hwb(203 0% 0%);
  font-size: medium;
  width: 12.5rem;
  border: 1px black solid;
  border-radius: 0.7rem;
  padding: 0.3rem;;
  
}
#name {
  display: block;
  text-align: center;
}
p{
  text-align: center;
  font-size:small;
}
a{
  text-decoration: none;
}