*{
  margin:0;
  padding:0;
}
#box1{
 margin:auto;
 width:14rem;
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 padding: 3rem;
 padding-top: 2rem;
 
 border: 0.5px black solid;
}
.user{
   display: block;
   margin: auto;
   
   margin: 1rem;
   width: 12rem;
   font-size:medium;
   padding: 0.3rem;
}
#btn{
  font-family:"Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: large;
  background-color:hwb(204 34% 12%);
  font-size: medium;
  width: 12.9rem;
  border: 1px black solid;
  border-radius: 0.7rem;
  padding: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}
#btn:hover{
  background-color: hwb(203 0% 0%);
}
#name {
  display: block;
  text-align: center;
}
p{
  text-align: center;
  font-size:small;
}
a{
  text-decoration: none;
}

#items{
  display: flex;
  padding-top: 0.7rem;
  justify-content: center;
  align-items: center;
}
#items h1{
  color:rgb(156, 70, 64);
  margin: 0;
}
#items input{
  margin-left: 1rem;
  width: 30rem;
  font-size: small;
  height: fit-content;
  padding: 0.3rem 0.3rem;
  
  border: 1px solid grey;
  border-radius: 5px;
}
#items select{
  margin-left: 20rem;
  height: fit-content;
  font-size: larger;
  border: none;
  /* background-color: bisque; */
  cursor: pointer;

}
#items button{
  margin-left: 1rem;
  padding: 0.2rem 1.1rem;
  height: fit-content;
  font-size: medium;
  background-color:rgb(241, 56, 43);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* Login.css */

#ul-items{
  display: flex;
  width:50%;
  justify-content: center;
  padding: 0rem;
  background-color: aqua;
}
#ul-li{
  margin: 1rem;
 list-style: none;
 
}